<div class="space categories container">
    <h2>Temas o cifras a consultar</h2>
    <form [formGroup]="temasGroup" class="space categories__list">
        <input [formControl]="temasCtrl" (change)="onChange($event.target)" class="check__temas"
            *ngFor="let tema of temasConIconos" type="checkbox" name="{{tema.title}}" id="{{tema.title}}">
        <label [ngClass]="{'selected': temasSeleccionados.includes(tema.title)}" class="space categories__list-item"
            *ngFor="let tema of temasConIconos" for="{{tema.title}}">
            <img *ngIf="tema.icon" class="categories__list-item-img" src="assets/{{tema.icon}}"
                alt="Icono del tema {{tema.title}}">
            <h3>{{tema.title}}</h3>
        </label>
    </form>
</div>