<footer>
    <div class="space container footer-container">
        <div class="space footer__suscriptions">
            <a href="http://servicios.aragon.es/sus_publico/PublicoServlet?accion=1" class="btn">Suscripciones</a>
        </div>
        <div class="space footer__europe-mobile">
            <img src="assets/flag_europe.svg" alt="Unión Europea" width="75" height="55">
            <p class="europe__claim">Fondo Europeo de Desarrollo Regional<br><em>"Construyendo Europa desde Aragón"</em>
            </p>
        </div>
        <div class="space footer__main-menu">
            <ul>
                <li><a href="https://desopendata.aragon.es/">Inicio</a></li>
                <li><a href="https://www.aragon.es/-/aviso-legal-1">Aviso Legal</a></li>
                <li><a
                        href="https://www.aragon.es/-/detalle-sobre-las-cookies-en-el-portal-de-servicios-del-gobierno-de-aragon">Política
                        de cookies</a>
                </li>
                <li><a href="https://www.aragon.es/-/politica-de-privacidad">Política de privacidad</a></li>
                <li><a href="https://www.aragon.es/-/accesibilidad">Accesibilidad</a></li>
                <li><a href="https://desopendata.aragon.es/mapa-web">Mapa Web</a></li>
                <li class="suscriptions-pc">
                    <a href="http://servicios.aragon.es/sus_publico/PublicoServlet?accion=1"
                        class="btn">Suscripciones</a>
                </li>
            </ul>
        </div>
        <div class="space footer__menus">
            <div class="space footer__data">
                <h3>Datos</h3>
                <ul>
                    <li><a href="https://desopendata.aragon.es/datos/catalogo">Banco de datos</a></li>
                    <li><a href="https://desopendata.aragon.es/datos/publicadores">Publicadores</a></li>
                    <li><a href="https://desopendata.aragon.es/datos/temas">Temas</a></li>
                </ul>
            </div>
            <div class="space footer__services">
                <h3>Servicios</h3>
                <ul>
                    <li><a href="https://desopendata.aragon.es/servicios/landing-datos-enlazados">Aragopedia: Datos
                            Enlazados</a></li>
                    <li><a href="https://desopendata.aragon.es/servicios/cobertura">Análisis cobertura</a></li>
                    <li><a href="https://desopendata.aragon.es/servicios/landing-presupuestos">Presupuestos</a></li>
                    <li><a href="https://desopendata.aragon.es/servicios/landing-open-data-focus">Open Data Focus</a>
                    </li>
                    <li><a href="https://desopendata.aragon.es/servicios/fianzas-alquileres">Alquileres</a></li>
                    <li><a href="https://desopendata.aragon.es/servicios/chatbot">Chatbot</a></li>
                    <li><a href="https://desopendata.aragon.es/servicios/analytics">Open Analytics Data</a></li>
                    <li><a href="https://desopendata.aragon.es/servicios/landing-open-social-data">Open Social Data</a>
                    </li>
                </ul>
            </div>
            <div class="space footer__information">
                <h3>Información</h3>
                <ul>
                    <li><a
                            href="https://desopendata.aragon.es/informacion/conoce-aragon-open-data-y-los-datos-abiertos">Conócenos</a>
                    </li>
                    <li><a href="https://desopendata.aragon.es/informacion/blog-de-aragon-open-data">Blog</a></li>
                    <li><a href="https://desopendata.aragon.es/informacion/blog-de-aragon-open-data">Herramientas y
                            APIs</a>
                    </li>
                    <li><a href="https://desopendata.aragon.es/informacion/eventos-de-datos-abiertos">Eventos</a></li>
                    <li><a
                            href="https://desopendata.aragon.es/informacion/aplicaciones-hechas-con-datos-abiertos-en-aragon-open-data">Aplicaciones</a>
                    </li>
                    <li><a href="https://desopendata.aragon.es/informacion/colabora-con-tus-propuestas">Colabora</a>
                    </li>
                    <li><a href="https://desopendata.aragon.es/informacion/terminos-de-uso-licencias">Términos de
                            uso</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="space footer__submenu">
            <div class="space footer__social">
                <ul>
                    <li><img width="35" height="35" src="assets/youtube.jpg" alt="Icono de Youtube"></li>
                    <li><img width="35" height="35" src="assets/facebook.jpg" alt="Icono de Facebook"></li>
                    <li><img width="35" height="35" src="assets/twitter.jpg" alt="Icono de Twitter"></li>
                    <li><img width="35" height="35" src="assets/instagram.png" alt="Icono de Instagram"></li>
                </ul>
            </div>
            <div class="space footer__info">
                <p>Gobierno de Aragón. <br>Edificio Pignatelli. Pº María Agustín, 36. 50004 - Zaragoza <br> tlfno: <a
                        href="tel:+34976714000">+34 976714000</a></p>
            </div>
            <div class="space europe__desktop">
                <img width="75" height="55" src="assets/flag_europe.svg" alt="Unión Europea">
                <p class="europe__claim">Fondo Europeo de Desarrollo Regional<br><em>"Construyendo Europa desde
                        Aragón"</em></p>
            </div>
        </div>
    </div>
</footer>