  <desy-footer >

    <!-- 1ª columna: Datos -->
    <desy-footer-navigation [title]="'Datos'">
      <desy-footer-navigation-item href="https://opendata.aragon.es/datos/catalogo">
        Banco de datos
      </desy-footer-navigation-item>
      <desy-footer-navigation-item href="https://opendata.aragon.es/datos/temas">
        Temas
      </desy-footer-navigation-item>
      <desy-footer-navigation-item
        href="https://opendata.aragon.es/informacion/herramientas-para-usuarios-as-y-desarrolladores-as/interfaz-de-programacion-de-aplicaciones-apis-y-punto-sparql">
        APIs disponibles
      </desy-footer-navigation-item>
    </desy-footer-navigation>

    <!-- 2ª columna: Servicios -->
    <desy-footer-navigation [title]="'Servicios'">
      <desy-footer-navigation-item href="https://opendata.aragon.es/servicios/landing-datos-enlazados">
        Aragopedia: Datos enlazados
      </desy-footer-navigation-item>
      <desy-footer-navigation-item href="https://opendata.aragon.es/servicios/cobertura">
        Análisis cobertura
      </desy-footer-navigation-item>
      <desy-footer-navigation-item href="https://opendata.aragon.es/servicios/landing-open-data-focus">
        Open Data Focus
      </desy-footer-navigation-item>
      <desy-footer-navigation-item href="https://opendata.aragon.es/servicios/landing-presupuestos">
        Presupuestos
      </desy-footer-navigation-item>
      <desy-footer-navigation-item href="https://opendata.aragon.es/servicios/fianzas-alquileres">
        Alquileres
      </desy-footer-navigation-item>
      <desy-footer-navigation-item href="https://opendata.aragon.es/servicios/analytics">
        Open Analytics Data
      </desy-footer-navigation-item>
      <desy-footer-navigation-item href="https://opendata.aragon.es/servicios/landing-open-social-data">
        Open Social Data
      </desy-footer-navigation-item>
      <desy-footer-navigation-item href="https://opendata.aragon.es/informacion/aplicaciones-hechas-con-datos-abiertos-en-aragon-open-data">
        Consulta todos los servicios
      </desy-footer-navigation-item>
    </desy-footer-navigation>

    <!-- 3ª columna: Información -->
    <desy-footer-navigation [title]="'Información'">
      <desy-footer-navigation-item href="https://opendata.aragon.es/informacion/blog-de-aragon-open-data">
        Blog
      </desy-footer-navigation-item>
      <desy-footer-navigation-item href="https://opendata.aragon.es/informacion/eventos-de-datos-abiertos">
        Eventos
      </desy-footer-navigation-item>
      <desy-footer-navigation-item href="https://opendata.aragon.es/informacion/conoce-aragon-open-data-y-los-datos-abiertos">
        Conócenos
      </desy-footer-navigation-item>
      <desy-footer-navigation-item href="https://opendata.aragon.es/informacion/herramientas-para-usuarios-as-y-desarrolladores-as">
        Herramientas para usuarios/as y desarrolladores/as
      </desy-footer-navigation-item>
      <desy-footer-navigation-item href="https://opendata.aragon.es/informacion/colabora-con-tus-propuestas">
        Colabora
      </desy-footer-navigation-item>
      <desy-footer-navigation-item href="https://opendata.aragon.es/informacion/terminos-de-uso-licencias">
        Términos de uso
      </desy-footer-navigation-item>
    </desy-footer-navigation>

    <!-- Sección final de enlaces legales, etc. la metemos en <desy-footer-meta> -->
    <desy-footer-meta [visuallyHiddenTitle]="'Enlaces legales'">
      <!-- Observa que en meta, cada item se pone con <desy-footer-meta-item> -->
      <desy-footer-meta-item href="https://opendata.aragon.es/">
        Inicio
      </desy-footer-meta-item>
      <desy-footer-meta-item href="https://www.aragon.es/-/aviso-legal-1">
        Aviso Legal
      </desy-footer-meta-item>
      <desy-footer-meta-item
        href="https://www.aragon.es/-/detalle-sobre-las-cookies-en-el-portal-de-servicios-del-gobierno-de-aragon">
        Política de cookies
      </desy-footer-meta-item>
      <desy-footer-meta-item href="https://www.aragon.es/-/politica-de-privacidad">
        Política de privacidad
      </desy-footer-meta-item>
      <desy-footer-meta-item href="https://www.aragon.es/-/accesibilidad">
        Accesibilidad
      </desy-footer-meta-item>
      <desy-footer-meta-item href="https://opendata.aragon.es/mapa-web">
        Mapa Web
      </desy-footer-meta-item>
      <desy-footer-meta-item href="http://servicios.aragon.es/sus_publico/PublicoServlet?accion=1">
        Suscripciones
      </desy-footer-meta-item>
    </desy-footer-meta>

    <!-- Metemos en <desy-content> el bloque de "Creado por..." y "Todo el contenido" -->
    <desy-content>
      <hr class="border-neutral-base mb-base" />

      <p class="mb-base text-sm c-link--neutral">
        Creado por
        <a class="c-link c-link--neutral" href="https://sda.aragon.es/">SDA Servicios Digitales de Aragón</a>
      </p>
      <p class="mb-base text-sm c-link--neutral">
        Todo el contenido bajo
        <a class="c-link c-link--neutral" href="https://creativecommons.org/licenses/by/4.0/legalcode.es" rel="license">
          licencia CC BY 4.0
        </a>
      </p>
      <p class="mb-base text-sm c-link--neutral">
        <a class="c-link c-link--neutral" href="https://www.aragon.es/">Gobierno de Aragón</a>.
        Edificio Pignatelli. <abbr title="Paseo">Pº</abbr> María Agustín, 36. 50004 - Zaragoza -
        <abbr title="Teléfono">Tel.</abbr>
        <a href="tel:+34 976714000" class="c-link c-link--neutral">+34 976714000</a>
      </p>

      <div class="mt-30 c-link--neutral">
        <p>
          <a href="https://opendata.aragon.es/-/fondos-europeos-aragon" class="d-block text-sm c-link"
            title="Más información sobre los Fondos Europeos">
            <span class="d-block c-footer__logo--ue c-link" role="img" aria-label="Logotipo Cofinanciado por la Unión Europea."></span>
          </a>
        </p>
      </div>
    </desy-content>

  </desy-footer>
