footer {
    background-color: var(--text-color);
    color: #fff;
    position: relative;
    margin-top: 3em;

    z-index: 9999;

    h3 {
        color: #fff;
    }

    a {
        color: #fff;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .footer-container {
        margin: auto;
    }

    &::after {
        content: "";
        width: 100%;
        position: relative;
        height: 0.5rem;
        background: #fdcb33;
        background: -moz-linear-gradient(left, #fdcb33 0%, #fdcb33 33%, #fa9902 33%, #fa9902 66%, #f05442 66%, #f05442 100%, #f1f1f1 100%, #f05442 100%, #f05442 100%);
        background: -webkit-linear-gradient(left, #fdcb33 0%, #fdcb33 33%, #fa9902 33%, #fa9902 66%, #f05442 66%, #f05442 100%, #f1f1f1 100%, #f05442 100%, #f05442 100%);
        background: linear-gradient(to right, #fdcb33 0%, #fdcb33 33%, #fa9902 33%, #fa9902 66%, #f05442 66%, #f05442 100%, #f1f1f1 100%, #f05442 100%, #f05442 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdcb33', endColorstr='#f05442', GradientType=1);
        position: absolute;
        bottom: 0;
    }
}

.footer__suscriptions {
    margin: auto;

    .btn {
        max-width: 60%;
        margin: auto;


    }

    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: #606060;
        margin-top: 20px;
    }
}

.footer__europe-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    img {
        max-width: 64px;
        display: block;
        margin: auto;
    }
}

.footer__main-menu {
    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: #606060;
        margin-top: 20px;
    }

    ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        list-style: none;



        li {
            padding: .5em 1em;
        }
    }
}

.footer__menus {
    display: flex;
    flex-direction: column;

    .footer__data::after,
    .footer__services::after,
    .footer__information::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: #606060;
        margin-top: 20px;
    }

    h3 {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 1em;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            margin-bottom: .5em;
        }
    }
}

.footer__social {
    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        margin: auto;
        padding: 0;

        li {
            margin: 0 .5em;

            img {
                max-width: 35px;
            }
        }
    }
}

.footer__info {
    text-align: center;
}

.europe__desktop {
    display: none;
}

@media screen and (min-width: 768px) {

    .footer__suscriptions {
        .btn {
            max-width: 40%;
        }
    }

    .footer__menus {
        flex-direction: row;
        justify-content: space-between;

        .footer__data::after,
        .footer__services::after,
        .footer__information::after {
            display: none;
        }
    }

    .footer__submenu {
        display: flex;
        justify-content: center;

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .europe__desktop {
            display: block;
            font-size: 10px;
            text-align: center;
            justify-content: center;

            p {
                line-height: 0.8rem;
            }

            img {
                margin: auto;
            }
        }
    }


}