<form [formGroup]="formGroup">
    <mat-form-field>
        <mat-label>
            Provincias
        </mat-label>
        <input [(ngModel)]="selectedProvincia" matInput [formControl]="myControlProvincias" type="select"
            [matAutocomplete]="auto" formControlName="municipio" />

        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let provincia of filteredProvincias" [value]="provincia">
                {{provincia}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>