<div class="container template">
    <div class="breadcrumbs">
        <p>Inicio > Derechos y servicios del ciudadano > generals</p>
    </div>
</div>
<div class="container template__general">
    <div class="general__img">
        <img src="../../../assets/persona.png" alt="Foto del general">
    </div>
    <div class="general__content">
        <h2 class="general__name">Ejemplo de datos genéricos</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet pretium felis. Quisque augue
            sem, consequat ut interdum vel, consectetur a ante. Vivamus eget feugiat purus, vitae blandit nisi. </p>
    </div>
    <div class="general__data sidebar">
        <div class="sidebar__more">
            <h3>Datos similares</h3>
            <ul class="more__data">
                <li>Lorem Ipsum</li>
                <li>Lorem Ipsum</li>
                <li>Lorem Ipsum</li>
                <li>Lorem Ipsum</li>
            </ul>
        </div>
        <div class="sidebar__other">
            <h3>Otros datos</h3>
            <ul class="more__data">
                <li>Lorem Ipsum</li>
                <li>Lorem Ipsum</li>
                <li>Lorem Ipsum</li>
                <li>Lorem Ipsum</li>
            </ul>
        </div>
        <div class="sidebar__button">
            <a class="btn new-search" href="#">Nueva búsqueda</a>
        </div>
    </div>
</div>