/* Estilos adicionales específicos para personalizaciones del header */

/* Estilo para los enlaces dentro de los dropdowns */
.c-link {
  text-decoration: none;
  color: #5c5963;
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
}

.c-link:hover {
  color: #00607a;
  text-decoration: underline;
}

.c-link:focus {
  background-color: #fdcb33;
  outline: 2px solid transparent;
  outline-offset: 2px;
  color: #1f2331;
  box-shadow: 0 0 transparent, 0 0 transparent, inset 0 -2px 0 0 #1f2331;
}

/* Estilos para las listas dentro de los dropdowns */
.c-ul--no-bullets {
  padding-left: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.c-ul--no-bullets li {
  list-style: none;
  padding-bottom: 8px;
}

.font-semibold {
  font-weight: 400;
}

/* Añadir algún espacio para elementos dentro de los dropdowns */
.p-base {
  padding: 0.5rem;
  text-align: left;
}

/* Asegurar que el contenido del header sea responsive */
@media screen and (max-width: 767px) {
  .desy-header-navigation {
    display: none;
  }
}