<desy-header homepageUrl="https://www.aragon.es">
  <desy-header-subnav>
    Aragopedia - Datos enlazados
  </desy-header-subnav>
  
  <desy-mobile-text>
    Aragopedia
  </desy-mobile-text>
  
  <!-- Navegación principal usando los componentes de Desy -->
  <desy-header-navigation>
    <!-- Sección Datos -->
    <desy-header-navigation-item>
      <desy-header-dropdown classesTooltip="w-64">
        <span class="block text-right">Datos</span>

        <desy-content>
          <div class="p-base">
            <ul class="c-ul--no-bullets">
              <li>
                <a class="text-sm c-link font-semibold" routerLink="/datos/catalogo">
                  Banco de datos
                </a>
              </li>
              <li>
                <a class="text-sm c-link font-semibold" routerLink="/datos/temas">
                  Temas
                </a>
              </li>
              <li>
                <a class="text-sm c-link font-semibold"
                  routerLink="/informacion/herramientas-para-usuarios-as-y-desarrolladores-as/interfaz-de-programacion-de-aplicaciones-apis-y-punto-sparql">
                  APIs disponibles
                </a>
              </li>
            </ul>
          </div>
        </desy-content>
      </desy-header-dropdown>
    </desy-header-navigation-item>

    <!-- Sección Servicios -->
    <desy-header-navigation-item>
      <desy-header-dropdown classesTooltip="w-64">
      <span class="block text-right">Servicios</span>
        <desy-content>
          <div class="p-base">
            <ul class="c-ul--no-bullets">
              <li>
                <a class="text-sm c-link font-semibold" routerLink="/servicios/landing-datos-enlazados">
                  Aragopedia: Datos enlazados
                </a>
              </li>
              <li>
                <a class="text-sm c-link font-semibold" routerLink="/servicios/cobertura">
                  Análisis cobertura
                </a>
              </li>
              <li>
                <a class="text-sm c-link font-semibold" routerLink="/servicios/landing-open-data-focus">
                  Open Data Focus
                </a>
              </li>
              <li>
                <a class="text-sm c-link font-semibold" routerLink="/servicios/landing-presupuestos">
                  Presupuestos
                </a>
              </li>
              <li>
                <a class="text-sm c-link font-semibold" routerLink="/servicios/fianzas-alquileres">
                  Alquileres
                </a>
              </li>
              <li>
                <a class="text-sm c-link font-semibold" routerLink="/servicios/analytics">
                  Open Analytics Data
                </a>
              </li>
              <li>
                <a class="text-sm c-link font-semibold"
                  routerLink="/servicios/landing-open-social-data">
                  Open Social Data
                </a>
              </li>
              <li>
                <a class="text-sm c-link font-semibold"
                  routerLink="/informacion/aplicaciones-hechas-con-datos-abiertos-en-aragon-open-data">
                  Consulta todos los servicios
                </a>
              </li>
            </ul>
          </div>
        </desy-content>
      </desy-header-dropdown>
    </desy-header-navigation-item>

    <!-- Sección Información -->
    <desy-header-navigation-item>
      <desy-header-dropdown classesTooltip="w-64">
        <span class="block text-right">Información</span>
        <desy-content>
          <div class="p-base">
            <ul class="c-ul--no-bullets">
              <li>
                <a class="text-sm c-link font-semibold"
                  routerLink="/informacion/blog-de-aragon-open-data">
                  Blog
                </a>
              </li>
              <li>
                <a class="text-sm c-link font-semibold"
                  routerLink="/informacion/eventos-de-datos-abiertos">
                  Eventos
                </a>
              </li>
              <li>
                <a class="text-sm c-link font-semibold"
                  routerLink="/informacion/conoce-aragon-open-data-y-los-datos-abiertos">
                  Conócenos
                </a>
              </li>
              <li>
                <a class="text-sm c-link font-semibold"
                  routerLink="/informacion/herramientas-para-usuarios-as-y-desarrolladores-as">
                  Herramientas para usuarios/as y desarrolladores/as
                </a>
              </li>
              <li>
                <a class="text-sm c-link font-semibold"
                  routerLink="/informacion/colabora-con-tus-propuestas">
                  Colabora
                </a>
              </li>
              <li>
                <a class="text-sm c-link font-semibold"
                  routerLink="/informacion/terminos-de-uso-licencias">
                  Términos de uso
                </a>
              </li>
            </ul>
          </div>
        </desy-content>
      </desy-header-dropdown>
    </desy-header-navigation-item>
  </desy-header-navigation>
</desy-header>