<form [formGroup]="formGroup" (onChange)="this.selectedId">
    <mat-form-field>
        <mat-label>
            Provincias
        </mat-label>
        <input [(ngModel)]="selectedProvincia" matInput [formControl]="formControlProvincia" type="select"
            [matAutocomplete]="auto" formControlName="municipio" />
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let provincia of provinciasParsed" [value]="provincia">
                {{provincia.nombre}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>