.location-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;

    .btn {
        border-color: transparent;
        cursor: pointer;
    }
}

.full-width {
    width: 100%;
}

.error {
    font-size: 18px;
    color: #d22333;
}

.link-aragon {
    border-color: transparent;
    display: block;
    cursor: pointer;
    font-size: 16px;
    margin-top: 2em;

    &:hover {
        text-decoration: underline;
    }
}

@media screen and (min-width:992px) {
    .location-form {
        display: flex;
        justify-content: space-between;

        .location-form__input {
            margin-right: 30px;
        }
    }
}