<div class="container space" style="margin:auto">
    <h2>Selecciona un municipio</h2>
    <p *ngIf="error" class="error">Debes seleccionar alguna localidad</p>
    <form class="location-form" [formGroup]="locationForm" (onChange)="locationSelected()" (ngSubmit)="submit()">
        <div class="location-form__input">
            <app-select-provincia></app-select-provincia>
        </div>

        <div class="location-form__input">
            <app-select-comarca></app-select-comarca>
        </div>

        <div class="location-form__input">
            <app-select-municipio></app-select-municipio>
        </div>
        <button type="submit" class="btn">Buscar</button>
    </form>
    <div class="location__selected">
        <p *ngIf="provinciaSelected">{{provinciaSelected}}</p>
        <p *ngIf="comarcaSelected">{{comarcaSelected}}</p>
        <p *ngIf="municipioSelected">{{municipioSelected}}</p>
    </div>
</div>