<div class="container space" style="margin:auto">
    <h2><mat-icon> place</mat-icon> Selecciona una entidad territorial</h2>
    <p *ngIf="error" class="error">Debes seleccionar alguna localidad</p>
    <form class="location-form" [formGroup]="locationForm" (onChange)="locationSelected()" (ngSubmit)="submit()">
        <div class="location-form__input">
            <app-select-provincia></app-select-provincia>
        </div>

        <div class="location-form__input">
            <app-select-comarca></app-select-comarca>
        </div>

        <div class="location-form__input">
            <app-select-municipio></app-select-municipio>
        </div>

    </form>
    <button class="btn link-aragon" (click)="goToAragon()"> Acceder
        a
        los datos de la Comunidad de
        Aragón</button>
</div>