<form [formGroup]="formGroup" (submit)="submit()">
    <div class="container space" style="margin:auto;">
        <app-location></app-location>
    </div>
    <button class="btn" type="submit">Generar temas</button>

    <div *ngIf="temasActive === true">
        <mat-form-field class="temas">
            <mat-label>
                Tema
            </mat-label>
            <input formControlName="temas" [(ngModel)]="selectedTema" matInput [formControl]="temasControl"
                type="select" [matAutocomplete]="auto" />
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let tema of showTemas" (click)="temaSelected(tema)"
                    [value]="tema.DescripcionMejorada">
                    {{tema.DescripcionMejorada}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
</form>