<section class="section-selector-temas">
    <div class="container space aragopedia-temas" style="margin:auto">
        <div class="filtrosDiv">
            <form [formGroup]="formGroup">
                <fieldset>
                    <app-location></app-location>
                </fieldset>

                <div *ngIf="temasActive === true" class="seleccionar-datos">
                    <h2><mat-icon> table_chart</mat-icon> Seleccionar datos</h2>
            <desy-select
            [id]="'temasSelect'"
            [name]="'tema'"
            [labelText]="'Datos'"           
            [classes]="'temas w-full'"      
            formControlName="tema"         
            > 

            <desy-option
            *ngFor="let tema of filteredTemas"
            [value]="tema.nombre.value"
            (click)="temaSelectedAuto(tema)">
            {{ tema.nombre.value }}
            </desy-option>

            </desy-select>

                </div>
            </form>
        </div>

        <h3 class="datos-seleccionados" *ngIf="!firstLand || displayTema"><b>Datos seleccionados:</b><br>
            <span class="underline">{{displayTema}}</span> en {{displayZona}}
        </h3>
        <div class="loading-table" *ngIf="loading">
            <desy-spinner [id]="'loading-spinner'" [text]="'Cargando...'" [classes]="'text-2xl'"></desy-spinner>
        </div>
        <app-aragopedia-tabla-datos class="tabla-datos"
            [hidden]="errorTabla || firstLand || loading"></app-aragopedia-tabla-datos>


        <div *ngIf="errorTabla && !loading" class="error-msg">
            <p>No se encontraron datos. Consulta otra entidad territorial u otro dato estadístico.</p>
        </div>
    </div>
</section>