.aragopedia {
    min-height: 600px;
    margin: auto;
    margin-top: 6em;
}

.return {
    width: fit-content;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 999;

    .return__btn {
        padding: 6px;
        border-radius: 60px;
        margin: auto;
        outline: none;
        border-width: 0;
        cursor: pointer;

        background: rgba(0, 71, 92, 0.65);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4.5px);
        -webkit-backdrop-filter: blur(4.5px);
        transition: all 0.3s;

        .return__text {
            display: none;
        }

        .mat-icon {
            font-size: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &:hover {
            background: var(--accent-color);
            box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.1);
        }
    }
}

@media screen and (min-width: 720px) {
    .return {
        right: 30px;
        bottom: 30px;

        .return__btn {
            padding: 15px 20px;
            border-radius: 3px;

            .return__text {
                display: block;
            }

            .mat-icon {
                display: none;
            }
        }
    }
}