.aragopedia {
    min-height: 600px;
    margin: auto;
    margin-top: 6em;
}

.return {
    width: fit-content;
    position: fixed;
    bottom: 30px;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 999;

    .return__btn {
        margin: auto;
        outline: none;
        border-width: 0;
        cursor: pointer;
        display: block;
        width: fit-content;
        // box-shadow: var(--shadow-hover);
        background: rgba(0, 71, 92, 0.65);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4.5px);
        -webkit-backdrop-filter: blur(4.5px);
        transition: all 0.3s;

        &:hover {
            background: var(--accent-color);
            box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.1);
        }
    }
}