<div class="home__location">
    <div class="container">
        <h2>Busca los detalles de una entidad territorial</h2>
        <!-- Selector de comarca -->
        <app-select-location></app-select-location>
    </div>
</div>

<div class="container home__temas">
    <h2>Búsqueda por años y temas
    </h2>
    <p style="font-size: 16px">Selecciona al menos 3 años y un máximo de 5 temas. Para seleccionar el rango de años
        que desea consultar desplaza las barras situadas en los extremos.</p>
    <app-timeline [yearsSelected]="selectedYears"></app-timeline>
    <!-- Temas -->

    <app-temas></app-temas>

    <!-- Submit button -->

    <div class="container submit">
        <p *ngIf="error" class="error">Debes seleccionar entre 1 y 5 temas y un mínimo de 3 años</p>
        <button (click)="submit()" class="btn submit__btn">Realizar
            búsqueda</button>
    </div>
</div>

<div class="container home__temas">
    <div class="container submit margen_top">

        <h2>Datos estadísticos por entidad territorial</h2>
        <button class="btn submit__btn" [routerLink]="['/aragopedia']">Consulta datos estadísticos</button>

    </div>
</div>