.home__location {
    margin: auto;
    padding: 3em 0;
    background-color: #FAFAFD;

    .container {
        margin: auto;
        text-align: left;
    }

    h2 {
        font-size: var(--h1);
    }
}

.home__temas {
    margin: auto;
    margin-top: 3em;
    text-align: left;

    h2 {
        font-size: var(--h1);
    }
}

// Submit btn
.submit {

    .submit__btn {
        margin: auto;
        margin-top: 20px;
        outline: none;
        border-width: 0;
        cursor: pointer;
        display: block;
        width: fit-content;
    }

    .error {
        font-size: 18px;
        color: #d22333;
        text-align: center;
    }
}
/* 
.margen_top {
    margin-top: 1.5rem;
} */