<div class="home__location">
    <div class="container">
        <h2>Busca los detalles de una entidad territorial</h2>
        <!-- Selector de comarca -->
        <app-select-location></app-select-location>
    </div>
</div>

<div class="container home__temas">
    <h2>Búsqueda por años y temas</h2>
    <app-timeline [yearsSelected]="selectedYears"></app-timeline>
    <!-- Temas -->

    <app-temas></app-temas>

    <!-- Submit button -->

    <div class="container submit">
        <p *ngIf="error" class="error">Debes seleccionar entre 1 y 3 temas y un mínimo de 3 años</p>
        <button (click)="submit()" class="btn submit__btn">Realizar
            búsqueda</button>
    </div>
</div>