<!-- Buscador -->
<app-timeline></app-timeline>

<!-- Selector de comarca -->
<app-select-location></app-select-location>

<!-- Temas -->

<app-temas></app-temas>

<!-- Submit button -->

<div class="submit">
    <button (click)="search()" class="btn submit__btn">Realizar
        búsqueda</button>
    <!-- [routerLink]="['/results']" -->
    <ul>
        <h2>Búsqueda:</h2>
        <li *ngIf="years">{{years}}</li>
        <li *ngIf="provinciaSelected">{{provinciaSelected}}</li>
        <li *ngIf="municipioSelected">{{municipioSelected}}</li>
        <li *ngIf="comarcaSelected">{{comarcaSelected}}</li>
        <li *ngIf="temasSelected">{{temasSelected}}</li>
    </ul>
</div>