//Mobile

.return {
    width: fit-content;
    position: fixed;
    bottom: 100px;
    right: 10px;
    z-index: 999;

    .return__btn {
        padding: 6px;
        border-radius: 60px;
        margin: auto;
        outline: none;
        border-width: 0;
        cursor: pointer;

        background: rgba(0, 71, 92, 0.65);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4.5px);
        -webkit-backdrop-filter: blur(4.5px);
        transition: all 0.3s;

        .return__text {
            display: none;
        }

        .mat-icon {
            font-size: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &:hover {
            background: var(--accent-color);
            box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.1);
        }
    }
}

@media screen and (max-width: 576px) {
    .template {
        margin: auto;
        margin-top: 2em;

    }

    .container {
        margin: auto;
    }

    .template__persona {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: auto;

        .persona__content {
            flex: 0 0 40%;
        }

        .persona__name {
            font-weight: 800;

            &::after {
                content: "";
                width: 100%;
                height: 2px;
                background-color: #D9D9D9;
                display: inline-block;
                margin-top: 10px;
            }
        }

        .persona__img {
            max-width: 250px;
            flex: 0 0 20%;

            img {
                max-width: 100%;
            }
        }

        ul {
            list-style: none;
            padding: 0;

            li {
                margin: 0 0 10px 20px;
            }
        }

        .sidebar {
            flex: 0 0 25%;
            padding: 1rem;
            background-color: #F8F8F8;
            border-radius: 6px;
        }

        h3 {
            font-size: 1.5em;
            font-weight: 800;
        }

        .sidebar__button {
            margin: auto;
        }

    }

    .creative-works {

        .creative-works__articles {
            flex: 0 0 100% !important;
            max-width: 400px;
            box-shadow: var(--shadow);
            transition: box-shadow all 0.3s;

            &:hover {
                box-shadow: var(--shadow-hover);
            }
        }
    }


}

@media screen and (min-width:720px) {
    .return {
        right: 0;
        left: 0;
        bottom: 200px;
        margin: auto;

        .return__btn {
            padding: 15px 20px;
            border-radius: 3px;

            .return__text {
                display: block;
            }

            .mat-icon {
                display: none;
            }
        }
    }
}

// Tablet
@media screen and (max-width: 992px) {

    .template {
        margin-top: 2em;
    }

    .template__persona {
        flex-direction: column;

    }

    .container {
        margin: auto;
    }
}

//Desktop


.template {
    margin: auto;
    margin-top: 2em;
    min-height: 400px;

    p,
    li,
    a,
    span {
        font-size: 16px;
    }
}

.template__persona {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2em auto;


    .persona__content {
        flex: 0 0 65%;
    }

    .persona__name {
        font-size: 32px;

        &::after {
            content: "";
            width: 100%;
            height: 2px;
            background-color: #D9D9D9;
            display: inline-block;
            margin-top: 10px;
        }
    }

    .persona__img {
        max-width: 250px;
        flex: 0 0 20%;

        img {
            max-width: 100%;
        }
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            margin: 0 0 10px 20px;
        }
    }

    .sidebar {
        flex: 0 0 25%;
        padding: 1rem;
        background-color: #F8F8F8;
        border-radius: 6px;

        li {
            margin-left: 0;
            margin-bottom: 20px;
        }
    }

    h3 {
        font-size: 1.5em;
        font-weight: 800;
    }

    .sidebar__button {
        margin: auto;
    }

}

.creative-works {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .creative-works__articles {
        flex: 0 0 33%;
        border: 2px solid #D9D9D9;
        padding: 1em;
        border-radius: 6px;
        max-height: 300px;
        overflow: hidden;
        margin: 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .article__title {
            font-size: 20px;
        }
    }
}

::ng-deep {

    ul.pagination {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        margin: auto;
        padding: 0 1em;

        .page-item {
            cursor: pointer;
            font-size: 18px;
            color: var(--text-color);
            margin: auto;
            display: block;
            width: 50px;
            text-align: center;
            transition: background-color 0.3s;

            &:hover {
                background-color: #EDEDEC;
            }
        }

        .disabled {
            filter: opacity(0.5);
            cursor: default;
        }

        .active {
            font-weight: bold;
            color: #00607a;
            background-color: #EDEDEC;

            &::after {
                content: '';
                display: block;
                height: 3px;
                width: 100%;
                background-color: #00607a;
            }
        }

        .first-item {
            visibility: hidden;

            &::after {

                content: "Principio";
                visibility: visible;
            }
        }

        .first-item,
        .last-item,
        .previous-item,
        .next-item {
            display: none;
        }
    }
}