<div class="container template">
    <div class="breadcrumbs">
        <p>Inicio > Personas > Ababuj</p>
    </div>
</div>
<div class="container template__persona">
    <div class="persona__img">
        <img src="../../../assets/persona.png" alt="Foto de la persona">
    </div>
    <div class="persona__content">
        <h2 class="persona__name">Alfonso López Pastor</h2>
        <ul class="persona__cargos">
            <p><strong>Cargos</strong></p>
            <li>Alcalde de Ababuj</li>
            <li>Miembro del Pleno Municipal</li>
        </ul>
        <ul class="persona__partido">
            <p><strong>Partido</strong></p>
            <li>Ciudadanos</li>
        </ul>
    </div>
    <div class="persona__data sidebar">
        <div class="sidebar__more">
            <h3>Datos similares</h3>
            <ul class="more__data">
                <li>Ababuj (Teruel)</li>
                <li>Dpto. de Agricultura</li>
                <li>Diputación de Teruel</li>
                <li>Salud</li>
            </ul>
        </div>
        <div class="sidebar__other">
            <h3>Otros datos</h3>
            <ul class="more__data">
                <li>Lorem Ipsum</li>
                <li>Lorem Ipsum</li>
                <li>Lorem Ipsum</li>
                <li>Lorem Ipsum</li>
            </ul>
        </div>
        <div class="sidebar__button">
            <a class="btn new-search" href="#">Nueva búsqueda</a>
        </div>
    </div>
</div>