<div class="container template">
    <div class="breadcrumbs">
        <p>Inicio > <a [routerLink]="['/municipio/', this.idMunicipio]">{{municipio}}</a>
            > {{nombre}}</p>
    </div>

    <section class="container template__persona">
        <!-- <div class="persona__img">
        <img src="assets/persona.png" alt="Foto de la persona">
    </div> -->
        <div class="persona__content">
            <h2 class="persona__name">{{nombre}}</h2>
            <p><strong>Cargo</strong></p>
            <ul class="persona__cargos">
                <li>{{puesto}} de <a [routerLink]="['/municipio/', this.idMunicipio]">{{municipio}}</a></li>
            </ul>
            <p><strong>Ámbito</strong></p>
            <ul class="persona__partido">
                <li>{{sectorPersona}}</li>
            </ul>
        </div>
        <div class="persona__data sidebar">
            <div class="sidebar__more">
                <h3>Datos de contacto</h3>
                <div *ngIf="datosContacto.phone">
                    <ul class="more__data">
                        <li>{{datosContacto.phone.value}}</li>
                    </ul>
                </div>
                <div *ngIf="!datosContacto.phone">
                    <p>No hay datos de contacto</p>
                </div>
            </div>
            <div class="sidebar__button">
                <a class="btn new-search" [routerLink]="['/']">Nueva búsqueda</a>
            </div>
        </div>
    </section>

    <section class="container template">
        <div class="creative-works">
            <h2>Menciones en publicaciones</h2>

            <div *ngFor="let publicacion of creativeWorks" class="creative-works__articles">

            </div>
        </div>
    </section>

</div>