<div class="container template">
    <div class="breadcrumbs">
        <p><a [routerLink]="['/']">Inicio</a> > {{municipio}}
            > Personas > {{nombre}}
        </p>
    </div>

    <section class="container template__persona">
    
        <div class="persona__content">
            <h2 class="persona__name">{{nombre}}</h2>
            <div *ngIf="this.biografia" class="bio">
                <p><strong>Biografía</strong></p>
                <p class="persona__bio">{{this.biografia}}</p>
            </div>
            <p><strong>Cargo</strong></p>
            <ul class="persona__cargos">
                <li *ngIf="puesto">{{puesto}}</li>
                <li *ngIf="municipio">{{municipio}}</li>
            </ul>
            <p><strong>Ámbito</strong></p>
            <ul class="persona__partido">
                <li>{{sectorPersona}}</li>
            </ul>
        </div>
        <div class="persona__data sidebar">
            <div class="sidebar__more">
                <h3>Contacto</h3>
                <p *ngIf="!this.datosContacto.phone"> No hay datos de contacto</p>
                <div *ngIf="this.datosContacto.phone">
                    <ul class="more__data">
                        <li *ngIf="this.datosContacto.phone.value">{{datosContacto.phone.value}}</li>
                        <li *ngIf="this.datosContacto.mbox">{{datosContacto.mbox.value}}</li>
                    </ul>
                </div>
                <div *ngIf="!datosContacto">
                    <p>No hay datos de contacto</p>
                </div>
            </div>
        </div>
    </section>

    <section class="container template" *ngIf="numberOfCreativeWorks > 0">
        <h2>Menciones en publicaciones ({{numberOfCreativeWorks}})</h2>
        <div class="creative-works">
            <article *ngFor="let publicacion of creativeWorks" class="creative-works__articles">
                <h3 class="article__title">{{publicacion.title.value}}</h3>
                <p class="article__abstract">{{this.reduceText(publicacion.abstract.value)}}...</p>
                <a href="{{publicacion.url.value}}"  target="_blank" rel="noopener"  class="article__link">Leer más</a>
            </article>
        </div>
        <div *ngIf="this.items" class="results__pagination">
            <jw-pagination [items]="items" (changePage)="onChangePage($event)"></jw-pagination>
        </div>
    </section>
    <div class="return">
        <button class="btn return__btn" [routerLink]="['/']"><mat-icon>keyboard_arrow_left</mat-icon><span
                class="return__text">Nueva búsqueda</span></button>
    </div>
</div>