::ng-deep {
    .mat-form-field.mat-focused {

        .mat-form-field-label {
            color: var(--accent-color);
        }

        .mat-form-field-ripple {
            background-color: var(--accent-color);
        }
    }

    .mat-progress-spinner circle,
    .mat-spinner circle {
        stroke: var(--accent-color);
    }
}