<div class="loading-location" *ngIf="!show">
    <mat-spinner [diameter]="30"></mat-spinner>
</div>

<form [formGroup]="formGroup" *ngIf="show">
    <mat-form-field>
        <mat-label>
            Comarcas
        </mat-label>
        <input [(ngModel)]="selectedComarca" matInput [formControl]="myControlComarcas" type="select"
            [matAutocomplete]="auto" formControlName="municipio" (change)="initForm()" />
        <!-- <input [(ngModel)]="selected"  matInput [formControl]="myControlMunicipios" type="select"
        [matAutocomplete]="auto" />-->
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let comarca of filteredComarcas" [value]="comarca">
                {{comarca}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>