<main>
    <header>
        <div class="container">
            <a [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a><br>
            <a [routerLink]="['/persona']" routerLinkActive="router-link-active">Persona</a><br>
            <a [routerLink]="['/eventos']" routerLinkActive="router-link-active">Eventos</a><br>
            <a [routerLink]="['/general']" routerLinkActive="router-link-active">General</a><br>
        </div>
    </header>
</main>
<router-outlet></router-outlet>