<form [formGroup]="formGroup">
    <mat-form-field>
        <mat-label>
            Municipios
        </mat-label>
        <input [(ngModel)]="selectedMunicipio" matInput [formControl]="formControlMunicipio" type="select"
            [matAutocomplete]="auto" formControlName="municipio" />
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let municipio of filteredMunicipios" [value]="municipio.nombre.value"
                (click)="clearFilter()"
                (keyup)="clearFilter()">
                {{municipio.nombre.value}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>