.return {
    width: fit-content;
    position: fixed;
    bottom: 30px;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 999;

    .return__btn {
        margin: auto;
        outline: none;
        border-width: 0;
        cursor: pointer;
        display: block;
        width: fit-content;
        // box-shadow: var(--shadow-hover);
        background: rgba(0, 71, 92, 0.65);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4.5px);
        -webkit-backdrop-filter: blur(4.5px);
        transition: all 0.3s;

        &:hover {
            background: var(--accent-color);
            box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.1);
        }
    }
}

// Mat table styles

.mat-tab-group {
    margin-bottom: 48px;
}

section.container {
    padding: 0 15px;
}

.template {
    margin: auto;
    margin-top: 2em;

    .breadcrumbs {
        text-align: center;
    }

    .inicio__name {
        text-align: center;
        font-size: 30px;

        .inicio__name-comunidad {
            display: block;
            font-size: 24px;
        }
    }

    .inicio__img {
        display: flex;
        flex-direction: column;
    }

    .inicio__img img {
        display: block;
        margin: auto;
        order: 1;
        margin: 1em auto;
    }

    a.btn.map_btn {
        margin: 1em auto;
    }

    .inicio__data {
        ul {
            display: grid;
            grid-template-columns: auto;
            padding: 10px;
            list-style: none;

            li {
                padding: 20px;
                text-align: center;
                font-size: 16px;
                color: var(--accent-color);
                font-family: 'Signika', sans-serif;

                .big-number {
                    display: block;
                    font-size: 64px;
                    font-weight: bold;
                    color: #D6EAF0;
                    margin-bottom: 15px;
                }

                .inicio__data-link {
                    font-size: 14px;
                    color: var(--accent-color);
                    display: block;
                    font-weight: 400;
                    margin-top: 1em;
                }
            }
        }
    }

    .inicio__contact {

        padding: 1.5em;
        background-color: #f4f4f4;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
            font-size: 22px;
            margin: 10px 0 20px 0;
        }

        ul {
            margin: 20px 0;
            padding: 0;

            li {
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
                font-size: 16px;
            }
        }

        .btn {
            margin: auto;
            margin-top: .5em;
            outline: none;
            border-width: 0;
            cursor: pointer;
            display: block;
        }

    }

    .template__img-municipio {
        max-width: 700px;
        margin: .5em auto;

        figure {
            margin: 0;
        }

        img {
            border-radius: 3px;
            box-shadow: var(--shadow);
            margin: auto;
        }

        figcaption {
            margin-top: 1em;
            font-size: 12px;
        }
    }

    .template__caracteristicas {
        margin-bottom: 30px;

        h2 {
            display: block;
            padding-bottom: 15px;

            &::after {
                content: "";
                display: block;
                width: 50%;
                background-color: #D9D9D9;
                height: 1px;
                margin-top: 10px;
            }
        }

        .caracteristicas__list {
            display: grid;
            grid-template-columns: auto;

            .caracteristica__item {
                text-align: center;
                padding: 1em;
                border-radius: 6px;
                box-shadow: var(--shadow);
                max-width: 250px;
                margin: 20px auto;

                .mat-icon {
                    display: block;
                    margin: 15px auto;
                    font-size: 32px;
                }
            }
        }
    }

    .slides {

        .slides__tema {
            margin-top: 30px;
            display: block;
            font-size: 16px;

            a {
                color: var(--bg-dark);
                font-weight: 500;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        ::ng-deep .mat-tab-label .mat-tab-label-content {
            font-size: 16px !important;
        }

        ::ng-deep .mat-tab-body-content {
            max-width: 600px;
            margin: auto;
        }


        .slides__abstract {
            margin: 1.5em 0;
            // max-width: 600px;
            font-size: 16px;

            .leer-mas {
                cursor: pointer;
                display: block;
                font-size: 14px;
            }
        }

        .slide__link {
            font-size: 16px;
            font-weight: 600;
            color: var(--accent-color);
        }
    }

    .miembros {
        ul {

            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;

            li {
                text-transform: uppercase;
                flex: 0 0 50%;
                font-size: 16px;

                b {
                    display: block;
                    margin: 10px 0;
                }
            }
        }

    }

    .personas-ilustres {

        ul {
            display: flex;
            flex-wrap: wrap;
        }

        li {
            flex: 0 0 50%;
            margin-bottom: .3em;

            a {
                font-size: 16px;
                color: var(--accent-color);
            }
        }
    }
}

.tabla-poblacion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    empty-cells: hide;
    border-collapse: collapse;
    border-spacing: 5px;
    font-size: 16px;
    border: 1px solid #dbdbdb;
    border-radius: 6px;
    width: fit-content;
    height: fit-content;
    margin-bottom: 2em;

    tr {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 1em;
        border-left: 1px solid #dbdbdb;
        border-right: 1px solid #dbdbdb;
        border-radius: 2px;
        text-align: center;

        th {
            flex: 0 0 20%;
            text-transform: uppercase;
            color: var(--accent-color);
            margin-bottom: 1em;
            padding: .5em 1.5em;
            background-color: #D6EAF0;
            border-radius: 3px;
        }

        td {
            padding: 0;
            align-self: center;

            span {
                display: flex;
                font-size: 16px;
                margin-bottom: 10px;
            }
        }
    }
}

@media screen and (min-width: 992px) {

    .template {

        .breadcrumbs {
            text-align: left;
        }

        .template__inicio {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;

            .inicio__img {
                flex: 0 0 20%;

                img {
                    max-width: 200px;
                }
            }
        }

        .inicio__data {
            flex: 0 0 50%;

            ul {
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 10px;
            }
        }

        .inicio__data-aragon {
            ul {
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 10px;
            }

        }

        .inicio__contact {
            flex: 0 0 20%;
        }

        .template__caracteristicas {
            h2 {

                &::after {
                    width: 20%;
                }
            }

            .caracteristicas__list {
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 10px;
            }
        }

    }
}

.spinnerHide {
    display: none;
}