<div class="main-search container">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" novalidate>
        <!-- Usando el componente desy-search-bar -->
        <desy-search-bar 
            id="main-search" 
            formControlName="text" 
            placeholder="Buscar en el banco de datos"
            labelText="Búsqueda"
            (clickEvent)="onSubmit(formGroup.value)">
            <!-- Customizando el botón dentro del search bar -->
            <desy-button 
                classes="c-button c-button--primary ml-sm" 
                text="Buscar" 
                (clickEvent)="onSubmit(formGroup.value)">
            </desy-button>
        </desy-search-bar>
    </form>
</div>