.main-search {
    margin: 3em auto 0;

    form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        max-width: 45rem;
        margin: auto;
    }

    .form__timeline {
        flex: 0 0 100%;
        margin-bottom: 2em;
    }

    .main-search__input {
        width: 30rem;
        padding: 1em;
        outline: none;
        border: 1px solid var(--text-color);
        border-radius: 3px;
        font-size: 16px;
    }

    .main-search__submit {
        background-color: var(--accent-color);
        color: #fff;
        padding: 1em 3em;
        font-size: 16px;
        border: 1px solid var(--accent-color);
        border-radius: 3px;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: bold;
    }

}