<div class="container space" style="margin:auto">
    <h2><mat-icon> place</mat-icon> Selecciona una entidad territorial</h2>
    <p *ngIf="error" class="error">Debes seleccionar alguna localidad</p>
    <form class="location-form" [formGroup]="locationForm" (onValueChange)="locationSelected()" (submit)="submit()">
        <div class="location-form__input">
            <app-provincias></app-provincias>
        </div>

        <div class="location-form__input">
            <app-comarcas></app-comarcas>
        </div>

        <div class="location-form__input">
            <app-municipios></app-municipios>
        </div>
        <button type="submit" class="btn">Seleccionar entidad territorial</button>
    </form>
</div>