::ng-deep {
    .mat-form-field.mat-focused {

        .mat-form-field-label {
            color: var(--accent-color);
        }

        .mat-form-field-ripple {
            background-color: var(--accent-color);
        }
    }

    .mat-form-field {
        width: 230px;
    }
}

form.location-form {
    display: flex;
    flex-wrap: wrap;
}

.location-selected {
    font-size: 20px;
    color: var(--accent-color);
}

.location-form__input {
    margin-right: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.link-location {
    font-size: 16px;
    cursor: pointer;
    text-decoration: underline;
    color: var(--accent-color);
    margin-left: 15px;
}

.link-aragon {
    
    border-color: transparent;
    display: block;
    cursor: pointer;
    font-size: 16px;
    margin-top: 2em;

    &:hover {
        text-decoration: underline;
    }
}

.link-aragon.active {
    color: var(--accent-color);
    background-color: transparent;
    border-color: var(--accent-color);
    text-decoration: underline;
}