<div>
    <h2><mat-icon> place</mat-icon> Selecciona una entidad territorial</h2>
    <p *ngIf="error" class="error">Debes seleccionar alguna localidad</p>
    <form class="location-form" [formGroup]="locationForm">

        <div class="location-form__input">
            <app-provincias></app-provincias>

        </div>

        <div class="location-form__input">
            <app-comarcas></app-comarcas>
        </div>

        <div class="location-form__input">
            <app-municipios></app-municipios>
        </div>
        <!-- <button type="submit" class="btn">Seleccionar entidad territorial</button> -->
    </form>
    <button class="btn link-aragon" (click)="goToAragon()" [ngClass]="{'active':activeAragon}">
        Consultar datos de toda la Comunidad de Aragón</button>
    <!-- <p *ngIf="this.selected" class="location-selected">Has seleccionado: <b>{{this.selected}}</b><br> Haz click en el
        siguiente
        botón para generar
        los temas disponibles.</p> -->
</div>