<div class="loading" *ngIf="this.dataSource.length === 1">
    <mat-spinner [diameter]="70"></mat-spinner>
    <p>Cargando línea temporal</p>
</div>
<div *ngIf="this.dataSource.length !== 1" class="space container" style="margin:auto; margin-bottom: 1rem">
    <dx-range-selector (onValueChanged)="getData($event.value)" id="range-selector" title="Selecciona un rango de años"
        [value]="yearsSelected" [dataSource]="dataSource">
        <dxo-margin [top]="50"></dxo-margin>
        <dxo-size [height]="280"></dxo-size>
        <dxo-chart>
            <dxi-series valueField="dataQuantity" color="#00607A"></dxi-series>
            <dxo-common-series-settings type="steparea" argumentField="date">
            </dxo-common-series-settings>
        </dxo-chart>
        <dxo-scale minorTickInterval="day" valueType="year">
            <dxo-tick-interval [years]="1"></dxo-tick-interval>
        </dxo-scale>
        <dxo-slider-marker format="day"></dxo-slider-marker>
    </dx-range-selector>
    <div class="years-selected" style="margin-top: 100px;">
        <p>Años seleccionados:
            <b> {{yearsURL}} </b>
        </p>

    </div>
</div>