<div class="container template">
    <div class="breadcrumbs">
        <p>Inicio > Derechos y servicios del ciudadano > Eventos</p>
    </div>
</div>
<div class="container template__evento">
    <div class="evento__img">
        <img src="assets/persona.png" alt="Foto del evento">
    </div>
    <div class="evento__content">
        <h2 class="evento__name">111 aniversario del nacimiento de Luis Buñuel</h2>
        <ul class="evento__fecha">
            <li><strong>Fecha de inicio:</strong> 2011-02-22 19:30</li>
            <li><strong>Fecha de fin:</strong> 2011-02-22 00:00</li>
        </ul>
    </div>
    <div class="evento__data sidebar">
        <div class="sidebar__more">
            <h3>Datos similares</h3>
            <ul class="more__data">
                <li>Lorem Ipsum</li>
                <li>Lorem Ipsum</li>
                <li>Lorem Ipsum</li>
                <li>Lorem Ipsum</li>
            </ul>
        </div>
        <div class="sidebar__other">
            <h3>Otros datos</h3>
            <ul class="more__data">
                <li>Lorem Ipsum</li>
                <li>Lorem Ipsum</li>
                <li>Lorem Ipsum</li>
                <li>Lorem Ipsum</li>
            </ul>
        </div>
        <div class="sidebar__button">
            <a class="btn new-search" href="#">Nueva búsqueda</a>
        </div>
    </div>

    <div class="evento__description">
        <p> 111 aniversario del nacimiento de Luis Buñuel Los actos tendrán lugar en el Centro Buñuel de Calanda a
            partir de las 10 de la mañana, en una jornada en la que además de recordar al cineasta aragonés, se hablará
            de Ecología, de Enseñanza, de Historia, de Cultura y de Cine En el homenaje a don Luis, tomarán la palabra:
            Carlos Cuadros, Director General del ICAA: Cine entre Industria y Cultura. Marifé Santiago Bolaños,
            Directora del Departamento de Cultura del Gabinete de la Presidencia del Gobierno: Lo que soñó Buñuel.
            Josefina Maestu, Directora de la Oficina de Naciones Unidas de apoyo al Decenio Internacional para la Acción
            El agua, fuente de vida 2005-2015: Cine y Agua. Posteriormente, tras el agua llega el turno del vino: Manuel
            Casares presentará la edición especial de un vino de autor aragonés, conmemorando el 111 aniversario del
            nacimiento de Buñuel. Se trata de un Corona de Aragón edición especial Luis Buñuel... <a href="#">leer
                más</a></p>
    </div>
</div>