// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@include mat.core();

$my-app-primary: mat.define-palette(mat.$indigo-palette);
$my-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$my-app-warn: mat.define-palette(mat.$red-palette);

$my-app-theme: mat.define-light-theme((color: (primary: $my-app-primary,
                accent: $my-app-accent,
                warn: $my-app-warn,
            ),
        ));

@include mat.all-component-themes($my-app-theme);

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

// ZOOM IN - OUT
body.zoomed {
    zoom: 1.5;
    -moz-transform: scale(3);
    -moz-transform-origin: 0 0;
}

/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Signika:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');


:root {
    --text-color: #333333;
    --accent-color: #00475C;
    --accent-color-light: #00607A;
    --bg-dark: #92949B;
    --bg-light: #F8F8F8;
    --shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
    --shadow-hover: 0 4px 8px rgba(0, 0, 0, 0.3);
    --transition: all 0.3s;
    --div-padding: 1em;
    --h1: 32px;
    --h2: 28px;
    --h3: 24px;
}

html,
body {
    height: 100%;
    color: var(--text-color);
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

div.space {
    padding: var(--div-padding);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Signika', sans-serif !important;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    font-weight: 400;
}

p {
    line-height: 1.8rem;
}

img {
    display: block;
    max-width: 100%;
}

a {
    color: var(--accent-color);
}


// Estilos globales del spinner de carga
.loading {
    margin: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .mat-progress-spinner circle,
    .mat-spinner circle {
        stroke: var(--accent-color);
    }

    p {
        margin-top: 1em;
        font-family: 'Signika', sans-serif;
        font-size: var(--h3);
        text-align: center;
    }
}



// Desktop

main section,
main .container,
footer .container {
    max-width: 1350px;
    padding: 0 50px;
}

.btn {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: var(--accent-color-light);
    text-transform: uppercase;
    font-weight: 600;
    padding: 15px 40px;
    border-radius: 3px;
}

//Mobile

@media screen and (max-width: 576px) {

    main section,
    main .container {
        // width: 100%;
        padding: 0 10px;

    }
}


// Tablet

@media screen and (max-width: 992px) {

    main section,
    main .container {
        max-width: 700px;
    }
}
