::ng-deep {
    .table-container {
        position: relative;
        width: 100%;
        overflow-x: scroll; //add horizontal bar option in html
    }

    .loading-table {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: rgba($color: #ffffff, $alpha: 0.5);
        z-index: 999;

        .mat-spinner {
            margin-top: 100px;
        }

        .mat-progress-spinner circle,
        .mat-spinner circle {
            stroke: var(--accent-color);
        }

        p {
            margin-top: 1em;
            font-family: 'Signika', sans-serif;
            font-size: var(--h3);
            text-align: center;
        }
    }

    mat-table {
        border-radius: 10px;
    }

    tr.mat-header-row.cdk-header-row.ng-star-inserted>th {
        background: var(--accent-color) !important;
        color: #cee5eb;
        text-align: center;
        font-size: 16px;
        padding: 17px;
    }

    tr.mat-row.cdk-row.ng-star-inserted td {
        text-align: center;
        font-size: 16px;
    }

    td.mat-cell {
        padding-top: 15px !important;
    }

}

::ng-deep {
    .mat-sort-header-arrow {
        color: white;
    }

    .mat-sort-header-container {
        justify-content: center;
        text-align: center;
    }
}

table {
    width: 100%;
    align-self: center;
}

tr:nth-child(even) {
    background: #deecf0
}

tr:nth-child(odd) {
    background: #cee5eb
}

th {
    background: #EDEDEC;
    min-width: fit-content;
}

.btn-descarga {
    background-color: #ffffff;
    border: solid 1px #00475C;
    color: #00475C;
    cursor: pointer;
}

.divDescarga {
    display: flex;
    gap: 30px;
    margin: 0 20px;
    margin-bottom: 1rem;
    justify-content: right;
}