::ng-deep {

    mat-table {
        border-radius: 10px;
    }

    tr.mat-header-row.cdk-header-row.ng-star-inserted>th {
        background: var(--accent-color) !important;
        color: #cee5eb;
        text-align: center;
        font-size: 16px;
        padding: 17px;
    }

    tr.mat-row.cdk-row.ng-star-inserted td {
        text-align: center;
        font-size: 16px;
    }

    td.mat-cell {
        padding-top: 15px !important;
    }

}

.table-container {
    width: 100%;
    overflow-x: scroll; //add horizontal bar option in html
}



table {
    width: 100%;
    align-self: center;
}

tr:nth-child(even) {
    background: #deecf0
}

tr:nth-child(odd) {
    background: #cee5eb
}

th {
    background: #EDEDEC;
    min-width: fit-content;
}

.btn-descarga {
    background-color: #ffffff;
    border: solid 1px #00475C;
    color: #00475C;
    cursor: pointer;
}

.divDescarga {
    display: flex;
    gap: 30px;
    margin: 0 20px;
    margin-bottom: 1rem;
    justify-content: right;
}